*{
    font: italic bold  arial;
    font-weight: bold;
    font-style: oblique;
    font-family: arial;
    
}
.container {
    width: 100v;
    height: 100vh;
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    .box {
    text-align: center;
    width: 350px;
    height: 500px;
    background: #191825;
    border: black 4px solid;
    border-radius: 5%;
    filter: drop-shadow(0px 0px 50px purple);
    
    }
    
    body {
    margin: 0px;
    }
    h2,h4{
        color:#865DFF;
        margin-top: -5px;
    }
    p{
        color:#FFA3FD;
        font-size: 13px;
        line-height: 17px;
        margin: -10px 10px 10px 10px;
    }
    #content{
        margin-bottom: 10px;
    }
    .img{
        padding: 20px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: gray;
        margin-left: 40%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #button{
        border: none;
        background: #865DFF;
        color: #FFA3FD;
        width: +25%;
        height: +25px;
        border-radius: 9%;
        border:black 1px solid;
    }

    #button:hover{
        background: rgba(134, 93, 255, 0.5);
        color:rgba(255, 163, 253,0.5) ;
    }

    #ocult{
        display: none;
    }

 